<p>exercise works!</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <label>
                    <input Autowidth type="number" id="repetition" name="repetition" [(ngModel)]="value.repetition"  (change)="inputOnChange()" >
                </label>
            </div>
                X
            <div class="col">
                <label>
                    <input Autowidth type="number" id="distance" name="distance" [(ngModel)]="value.distance"  (change)="inputOnChange()" >
                </label>
            </div>
                -
            <div class="col">
                <label>
                    <input Autowidth type="text" id="description" name="description" [(ngModel)]="value.description"  (change)="inputOnChange()" >
                </label>
            </div>
                [
            <!-- <div class="container"> -->
                <div class="row">
                    <div class="col" *ngFor="let splitDistance of value.splitDistances; index as i;">
                        <split-distance [(splitDistance)]="value.splitDistances[i]"></split-distance>
                    </div>
                    <div class="col">
                        <split-distance blank (splitDistanceChange)= "addNewSplitDistance($event)"></split-distance>
                    </div>
                </div>
            <!-- </div> -->
                
                ]
        </div>
    </div>