<div class="container-fluid" >
    <div class="row" >
            <mat-form-autowidth-field [type]="'number'" [minWidth]="50" [(value)]="value.repetition"></mat-form-autowidth-field>
            
            <mat-label>x</mat-label>
            
            <mat-form-autowidth-field [type]="'number'" [minWidth]="50" [(value)]="value.distance"></mat-form-autowidth-field>
            
            <mat-label>-</mat-label>
            
            <mat-form-autowidth-field [type]="'text'" [minWidth]="50" [(value)]="value.description"></mat-form-autowidth-field>
            
            <mat-label>[</mat-label>

        <!-- <div class="container"> -->
                <div  *ngFor="let exercise of value.exerciseSets; index as i;">
                    <exercise-set [(exerciseSet)]="value.exerciseSets[i]"></exercise-set>
                </div>
                <div>
                    <exercise-set blank (exerciseSetChange)= "addNewSplitDistance($event)"></exercise-set>
                </div>
        <!-- </div> -->
            
            <mat-label>]</mat-label>

    </div>
</div>