<!-- <div class="container" > -->
    <div class="row" (click)="inputOnChange()">
        <!-- <div class="col"> -->
            <mat-form-autowidth-field [type]="'number'" [isBlank]="isBlank" [minWidth]="50" [(value)]="exerciseSet.distance"></mat-form-autowidth-field>
        <!-- </div> -->
            -
        <!-- <div class="col"> -->
            <mat-form-autowidth-field [type]="'text'" [isBlank]="isBlank" [minWidth]="50" [(value)]="exerciseSet.description"></mat-form-autowidth-field>
        <!-- </div> -->
            +
    </div>
<!-- </div> -->
    
