<!-- <div style="float:left; margin-bottom:5px;" >
  <div class="container">
    <div *ngFor="let exercise of exercises">
      <div class="row">
        <exercise [value]="exercise"></exercise>
      </div>      
    </div>
    <div class="row">
      <button (click)="addNewExercise()" mat-icon-button style="outline: none;" >
        <mat-icon>add_circle_outline</mat-icon>
      </button>      
    </div>
  </div>
</div> -->
<div style="float:left; margin-bottom:5px;" >
  <exercise [value]="exercise"></exercise>
</div>

      

    
    
  
  