<div class="container">
    <div class="row center">
      <mat-form-autowidth-field [type]="'text'" [minWidth]="150" [(value)]="userDetails.firstName" [label]="'user-form.FirstNameLabel'" ></mat-form-autowidth-field>
    <!-- </div>
    <div class="row center"> -->
      <mat-form-autowidth-field [type]="'text'" [minWidth]="150" [(value)]="userDetails.lastName" [label]="'user-form.LastNameLabel'" ></mat-form-autowidth-field>
    <!-- </div>
    <div class="row center"> -->
      <mat-form-autowidth-field [type]="'text'" [minWidth]="150" [(value)]="userDetails.email" [label]="'user-form.EmailLabel'" ></mat-form-autowidth-field>
    </div>
  </div>