<div class="container">
  <div class="center">

    <mat-form-autowidth-field [type]="'text'" [minWidth]="150" [(value)]="workout.trainerName" [label]="'register-workout.TraineeNameLabel'" ></mat-form-autowidth-field>
    
    <mat-form-autowidth-field [type]="'datepicker'" [minWidth]="150" [(value)]="workout.date" [label]="'register-workout.DatePickerLabel'" ></mat-form-autowidth-field>

      <!-- <button mat-raised-button (click)="picker.open()"style="margin-left: 5px;margin-right: 20px;">Open</button> -->
    
    <mat-form-autowidth-field [type]="'number'" [minWidth]="150" [(value)]="workout.week" [label]="'register-workout.WeekNumberLabel'" ></mat-form-autowidth-field>


    <mat-form-autowidth-field [type]="'text'" [minWidth]="150" [(value)]="workout.goalOfTraining" [label]="'register-workout.TrainingGoalLabel'" ></mat-form-autowidth-field>

  </div>
</div>