<!-- <div class="container" > -->
    <div (click)="inputOnChange()" style="display: flex;">
        <!-- <div class="col"> -->
            <mat-form-autowidth-field [type]="'number'" [isBlank]="isBlank" [minWidth]="50" [(value)]="exerciseSet.distance" (onValueChange)="onValueChange.emit($event)"></mat-form-autowidth-field>
        <!-- </div> -->
            <mat-label>-</mat-label>
        <!-- <div class="col"> -->
            <mat-form-autowidth-field [type]="'text'" [isBlank]="isBlank" [minWidth]="50" [(value)]="exerciseSet.description"></mat-form-autowidth-field>
        <!-- </div> -->
            <mat-label *ngIf="!isBlank">+</mat-label>

    </div>
<!-- </div> -->
    
