<app-homepage></app-homepage>

<!-- 
 <div style="overflow-x: auto; margin-bottom:5px;" >
    <exercise [value]="exercise"></exercise>
</div> -->
<!-- 
<div class="container-fluid">
    <div class="row"  style="flex-wrap: nowrap;overflow: auto;"> 
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div>
            <exercise-set blank ></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div>
            <exercise-set blank ></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div>
            <exercise-set blank ></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div >
            <exercise-set [(exerciseSet)]="exerciseSets"></exercise-set>
        </div>
        <div>
            <exercise-set blank ></exercise-set>
        </div>
    </div>
</div>  -->