<div [ngStyle]="{'direction': direction, 'text-align': direction=='ltr'? 'left': 'right' }">
    
    <!-- <trainee-grid [(trainees)]= "trainees"></trainee-grid>team-details -->
    <!-- <coach-details [(coachDetails)]="coachDetails"></coach-details>
    {{coachDetails|json}}
    <br/>
    <br/>
    <br/> -->

    <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>

    <br/>

    <router-outlet></router-outlet>
</div>
